<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-1 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/logo.png" style="max-height: 42px;" alt="logo" routerLink='/' class="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2" routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>Home</a>
        <a class="p-2" routerLink='/add' routerLinkActive='active'>Add Employee</a>
    </nav>
</div>